# Supabase (get from supabase.com → Settings → API)
SUPABASE_URL=https://xyzpbhuupnkubzeazasb.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5enBiaHV1cG5rdWJ6ZWF6YXNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3OTM0NTUsImV4cCI6MjA5MDM2OTQ1NX0.gr8EF9F85AAjFmS2da5zfVKUnCPm5SYLqRcsp_FKbb8

# Groq API (get from console.groq.com)
GROQ_API_KEY=gsk_your_key_here

# Google Fact Check API (optional, get from console.cloud.google.com)
# Enable "Fact Check Tools API" in API Library, then create an API key
GOOGLE_FACTCHECK_API_KEY=your-google-api-key

# Flask secret key (any random string)
SECRET_KEY=hssdddhsfbbnhsddifhnclsjdhsncxnh.dffre.refergtgtdfs.gtddgt
